<!DOCTYPE html>
<html lang="en">
<head>
       <title>Dealership Review</title>
       <script src="https://www.w3schools.com/bootstrap4/bootstrap_collapse.asp"></script>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       <meta charset="UTF-8">
</head>

    <body>
     This is the index page of your Django app!
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            
            <ul class="nav navbar-nav navbar-right">
            
                <div class="navbar-header">
                    <li><a href="about">About Us</a></li>
                </div>
                <div class="navbar-header">
                    <li><a href="contact">Contact Us</a></li>
                </div>
          
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Username" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    </body>

</html>
